---
layout: default
catch: plaf
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Publié le {{ page.date | date: "%d/%m/%Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <blockquote>
      {{ page.excerpt }}
  </blockquote>

  <p class="address">
    <i class="glyphicon glyphicon-map-marker"></i> {{ page.address }}
    <br>
    <i class="glyphicon glyphicon-earphone"></i> {{ page.phone }}
    {% if page.lafourchette %}
        <br>
        <i class="glyphicon glyphicon-glass"></i> Réservez sur <a href="{{ page.lafourchette }}">lafourchette</a>
    {% endif %}
  </p>

  <div id="slides">
    <img src="http://placehold.it/540x228">
    <img src="http://placehold.it/540x228">
    <img src="http://placehold.it/540x228">
    <img src="http://placehold.it/540x228">
    <img src="http://placehold.it/540x228">
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="menu" class="active"><a href="#menu" aria-controls="menu" role="tab" data-toggle="tab">Points forts de la carte</a></li>
    <li role="review"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Critique complète</a></li>
  </ul>

  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="menu">
          <ul>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
          </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="review">
          <article class="post-content">
              {{ content }}
          </article>
      </div>
  </div>
</div>
